@model web_project.Models.Product

@{
    Layout = null;
    ViewData["Title"] = "Product Page";
}

<!DOCTYPE HTML>
<html lang="en-US">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Carry fresh</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/SingleProduct/style.css" />
    <link rel="stylesheet" href="~/css/SingleProduct/responsive.css" />


</head>

<body>

    <div class="upper-header">
        @{







            var user = (System.Security.Claims.ClaimsIdentity)User.Identity;







            var userName = user.FindFirst("Name")?.Value;
        }
        @if (userName != null)



        {
            <div class="row justify-content-end">
                <form method="post" asp-controller="Auth" asp-action="Logout"> <button
                    class="btn btn-primary btn-1 btn-lg"><i class="fas fa-user-hard-hat"></i>
                        Logout</button></form>

                <a asp-controller="Cart" asp-action="Index"><button class="btn btn-2"><i class="fas fa-shopping-basket"></i>
                        Shopping busket <br />
                        <span>£0.00</span></button></a>
            </div>

        }



        else



        {
            <a asp-controller="Auth" asp-action="Login"> <button class="btn btn-primary btn-1"><i
                    class="fas fa-user-hard-hat"></i>
                    @userName, Login</button></a>

            <a asp-controller="Auth" asp-action="Signup"><button class="btn btn-primary btn-1"><i
                    class="fas fa-user-hard-hat"></i> Sign
                    Up</button></a>           

        }

    </div>

    <nav>
        <div class="navbar">
            <img src="~/img/Logo1o.png" alt="logo" class="logo" />
            <div class="menu-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span
                    class="icon-bar"></span></div>
            <div class="menu">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">HOME</a></li>
                    <li><a href="#">SHOP</a></li>
                    <li><a href="#">ABOUT </a></li>

                    <li><a href="#">CONTACT </a></li>
                </ul>

            </div>


            <div class="social-icon">
                <a class="" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i
                        class="fab fa-facebook-f "></i></a>

                <a class="" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter  fa-fw me-2"></i></a>
                <a class="" href="https://www.google-plus-g.com/" target="_blank"><i
                        class="fab fa-google-plus-g  fa-fw me-2"></i></a>

                <a class=" " href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin  fa-fw"></i></a>
            </div>
        </div>
    </nav>



    <div class="content-1">

        <div class="row">

            <div class="col-sm">

                <img src="~/img/@Model.Image" alt="img" class="img-fluid" />


            </div>

            <div class="col-sm c1-col2">

                <p>Home / @Model.Category / @Model.Name</p>
                <h2>@Model.Name </h2>
                <h5 class="c1-h5-padding">$ @Model.Price</h5>
                <p class="fnt-it"> <span> </span>Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <h5>Availability : <span>@Model.Quantity kg</span> </h5>
                <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model.ID"> <button class="btn c1-btn">Add to cart</button></a>




                <div class="social-icon">
                    <a class="" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i
                            class="fab fa-facebook-f "></i></a>

                    <a class="" href="https://twitter.com/" target="_blank"><i
                            class="fab fa-twitter  fa-fw me-2"></i></a>
                    <a class="" href="https://www.google-plus-g.com/" target="_blank"><i
                            class="fab fa-google-plus-g  fa-fw me-2"></i></a>

                    <a class=" " href="https://www.linkedin.com/" target="_blank"><i
                            class="fab fa-linkedin  fa-fw"></i></a>
                </div>

            </div>


        </div>


    </div>




    <div class=" product">

        <h1>Related Product</h1>


        <div class="row">

            <div class="col">
                <div class="image-sp">
                    <img src="~/img/download (1).jpg" alt="image" class="img" />
                </div>

                <h4>Green Beans-1 kg</h4>
                <span>£25.05</span>
            </div>
            <div class="col">

                <div class="image">

                    <img src="~/img/images.jpg" alt="image" class="img" />
                </div>

                <h4>Tomato</h4>
                <span>£26.00</span>
            </div>
            <div class="col ">
                <div class="image-sp">

                    <img src="~/img/grocery-food-items-0-295123.jpg" alt="image" class="img" />
                </div>

                <h4>Organic Lentil Sprouts</h4>
                <span>£19.00</span>
            </div>
            <div class="col tb">

                <div class="image">

                    <img src="~/img/images (1).jpg" alt="image" class="img" />
                </div>

                <h4>Avocado Hass</h4>
                <span>£14.00</span>
            </div>

        </div>




    </div>





    <div class="upper-footer">

        <div class="row">

            <div class="col-sm-6">

                <h1>ALL ORGANIC</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book</p>
                <div class="u-footer-social-icon">
                    <a class="" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i
                            class="fab fa-facebook-f f-padding "></i></a>

                    <a class="" href="https://twitter.com/" target="_blank"><i
                            class="fab fa-twitter  fa-fw me-2"></i></a>
                    <a class="" href="https://www.google-plus-g.com/" target="_blank"><i
                            class="fab fa-google-plus-g  fa-fw me-2"></i></a>

                    <a class=" " href="https://www.linkedin.com/" target="_blank"><i
                            class="fab fa-linkedin  fa-fw"></i></a>
                </div>
            </div>

            <div class="col-sm-3">
                <h4>Category</h4>
                <a href="h">Vegetables</a>
                <a href="h">Fruits</a>
                <a href="h">Meat</a>
                <a href="h">Canned Organic</a>
                <a href="h">Organic</a>
                <a href="h">Mushrooms</a>
                <a href="h">Organic Juice</a>

            </div>
            <div class="col-sm-3">
                <h4>Contact</h4>
                <a class=" text-decoration-none " href="tel:+91 95000 77397">+91 95000 77397</a>
                <p>Your address here</p>
                <p>info@yourdomain.com</p>

            </div>
        </div>
        <hr />
    </div>



    <div class="footer">

        <p>&copy;2021 All ORGANIC SHOP</p>

    </div>













    <!-- JavaScript Files -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>

</html>